<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="waf.newsreader">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <application android:label="NewsReader.Android">
      <activity android:name="microsoft.identity.client.BrowserTabActivity">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="wafe5b8cee6-8ba0-46c5-96ef-a3c8a1e2bb26" android:host="auth" />
        </intent-filter>
      </activity>
    </application>
</manifest>
