[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none


### Coding styles

tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = space

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped


[*.csproj]

tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space