[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = suggestion


### Coding styles

tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = space

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped


[*.csproj]

tab_width = 2
indent_size = 2
end_of_line = crlf
indent_style = space