<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="50628JuergenBerchtel.JbeNewsReader" Publisher="CN=3C8CBF61-934D-4358-AA07-F08013E88454" Version="4.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="75718e12-02ab-456f-a714-c0e23f57846d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Jbe NewsReader</DisplayName>
    <PublisherDisplayName>Juergen Berchtel</PublisherDisplayName>
    <Logo>Resources\Assets\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NewsReader.Presentation.App">
      <uap:VisualElements DisplayName="Jbe NewsReader" Square150x150Logo="Resources\Assets\Square150x150Logo.png" Square44x44Logo="Resources\Assets\Square44x44Logo.png" Description="Jbe NewsReader is a simple and fast RSS and ATOM news feed reader." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Resources\Assets\Wide310x150Logo.png" Square310x310Logo="Resources\Assets\Square310x310Logo.png" Square71x71Logo="Resources\Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Resources\Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>