<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Collections" version="4.0.10" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.0.10" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.0.10" targetFramework="net461" />
  <package id="System.Composition" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net461" />
  <package id="System.Diagnostics.Tools" version="4.0.0" targetFramework="net461" />
  <package id="System.Linq" version="4.0.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.0.10" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.0.10" targetFramework="net461" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.0.0" targetFramework="net461" />
  <package id="System.Waf.Core" version="4.1.0-alpha7" targetFramework="net461" />
  <package id="System.Waf.UnitTesting.Core" version="4.1.0-alpha7" targetFramework="net461" />
  <package id="System.Xml.ReaderWriter" version="4.0.10" targetFramework="net461" />
</packages>