<RuleSet Name="Unit Test Code Analysis Rule Set" Description="" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA3075" Action="None" />
  </Rules>
</RuleSet>