name: System.Waf.CI
on: 
  push:
    paths: 
    - 'src/*'
    - 'src/System.Waf/**'
    - 'src/Samples.UITest/**'
    - '.github/workflows/**' 
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build
      run: dotnet build ./src/System.Waf/System.Waf.sln -c Release -p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test ./src/System.Waf/System.Waf.sln -c Release --no-build
    - name: Upload NuGet Packages
      uses: actions/upload-artifact@v4
      with:
        name: Packages
        if-no-files-found: error
        path: |
          src/System.Waf/System.Waf/**/*.nupkg
          src/System.Waf/System.Waf/**/*.snupkg

    - name: UI Test
      run: dotnet test ./src/Samples.UITest/Samples.UITest.sln --logger "console;verbosity=detailed" -maxCpuCount:1
    - name: Upload UI Test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: UITestResults
        if-no-files-found: ignore
        path: |
          out/Samples.UITest/          
          ${{ env.LocalAppData }}/Waf Writer/Log/
          ${{ env.LocalAppData }}/Waf Book Library/Log/
